a {
    text-decoration: underline;
}
a:link {
    text-decoration: underline;
}
a:visited {
    text-decoration: underline;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}

.text-bold {
    font-family: 'dejavu-sans bold';
}
.text-lighter {
    font-family: 'dejavu-sans lighter';
}
.text-powder-blue {
    color: #5d91ca;
}
